html { background: black; height: 100%; margin: 0; padding: 0; }
body {
    background: transparent;
    margin: 0; padding: 0;
    font-family: 'Courier New', Courier, monospace;
    position: relative; z-index: 1;
}

body, body * {
    color: rgb(21, 255, 0) !important;
}

h1, h2, h3, h4, h5, h6,
p, li, summary, a, .text, .list-group-item {
    background-color: rgba(0, 0, 0, 0.1) !important;
    display: inline !important; /* Ensure background wraps only the text */
    padding: 0 2px; /* Optional: Add some padding around the text */
}

.list-group-item-dark {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 1px solid rgba(21, 255, 0, 0.5) !important;
    display: inline-block !important; /* Ensure background wraps only the text */
    padding: 0 2px; /* Optional: Add some padding around the text */
}

a {
    text-decoration: none !important;
}
a:hover, a:focus {
    text-decoration: underline !important;
}

.fade-out      { opacity: 0; transition: opacity 3s ease-in-out; }
#bg            { position: fixed; inset: 0; z-index: -1; }

.text {
    position: relative;
    top: 25%; /* Moves the title 25% lower */
    transform: translateY(-25%); /* Centers it vertically within the 25% offset */
  }

.hidden-content {display: none;}
.fade-in {animation: fadeIn 1s forwards;}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}